.loginCard {
  margin-top: 6em;
  margin-bottom: 6em;
}

.loginCard > .card-footer > p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

#loginRegLink {
  margin: -2.5px 0px 0px 2.5px;
  padding: 2.5px 5px;
}

#loginBackground {
  position: relative;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: url(https://www.xmple.com/wallpaper/gradient-black-blue-linear-3840x2160-c2-000000-00ced1-a-15-f-14.svg);
  background-size: cover;
  background-attachment: fixed;
}
