input[type="radio"] {
	display: none;
}

.star {
	cursor: pointer;
	transition: color 200ms;
}

.card-img {
	float: left;
	height: 400px !important;
	width: auto !important;
	margin-right: 10px;
}

body {
	padding-bottom: 50px !important;
}

#movieListRow {
	margin-top: 40px !important;
}

.custom-switch {
	margin-left: 20px;
	margin-bottom: 20px;
}
