.moviePosterImage {
	display: inline-block;
	height: 380px !important;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
	padding: 0px !important;
	margin: 0px 10px 20px;
	cursor: pointer;
}

.moviePosterImage:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
