.profileImage {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100px;
	width: 100px;
	float: left;
	margin-left: 50px;
	margin-right: 25px;
	background-color: white;
	border: 3px solid rgba(0, 0, 0, 0.3);
}

.editBtn {
	float: right;
	margin-top: 1em;
	margin-right: 3em;
}

.followBtn {
	margin-top: 1em;
}
