.reviewCard {
	margin-bottom: 2em;
}

.movie-button {
	display: inline;
	float: right;
}

#notYourMovie:hover {
	font-weight: bold;
}

.writeReviewImg {
	height: 444px !important;
	width: 300px !important;
}
